{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Image</h1>

        {{ include('image/_form.html.twig') }}

        <a href="{{ path('app_image_index') }}">Check your Articles list</a>
    </div>
{% endblock %}
