{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="container">
        <h2>Generate your article automatically</h2>

        {{ include('article/_form.html.twig') }}

        <a href="{{ path('app_article_index') }}">Check your Articles list </a>
    </div>  
{% endblock %}
